@import url("https://fonts.googleapis.com/css?family=Caveat|Pacifico|Ubuntu|Roboto");
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

p, div, button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FA6752;
  overflow-x: hidden;
  width: 100vw;
}

/****************** COMPONENTS TO BE REUSED ******************/
.error-container {
  position: absolute;
  transform: translateY(-100%);
  display: none;
  width: 100%;
  z-index: 999;
  transition: 0.5s;
}

.error-container .error-message {
  padding: 5px;
  text-align: center;
  background-color: #E94E38;
  margin: 0 auto;
  color: whitesmoke;
  font-family: "Ubuntu", sans-serif;
}

/******** HEADER STYLES ********/
.header {
  position: absolute;
  z-index: 1;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.5);
  height: 60px;
  width: 100%;
}

.header-strap {
  background-color: Salmon;
  margin-top: -3px;
}

.loading-bar-container {
  position: relative;
}

.loading-bar-container .loading-bar {
  height: 3px;
  background-color: powderblue;
}

.loading-bar-container:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: steelblue;
  animation: loading-bar 1.5s cubic-bezier(0.5, 0.01, 0.51, 1) infinite;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

/* left side of the navbar */
.logo-container {
  height: 100%;
  padding: 0 20px;
  transition: 0.15s;
}

.logo-container:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.logo-container:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.logo {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  transform: translate(-8px, 4px) rotate(-15deg);
  color: #FBF9FC;
}

/* right side of the navbar */
.login-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.login-cube {
  margin-right: 10px;
  text-align: center;
  height: 40px;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.login-cube-turned {
  -webkit-transform: rotateX(89deg);
  -ms-transform: rotateX(89deg);
  transform: rotateX(89deg);
}

.sign-in-button, .sign-in-with-google-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}

.sign-in-button {
  transform: translateZ(20px);
}

.sign-in-text {
  margin-left: auto;
  padding: 5px 10px;
  font-family: "Pacifico", cursive;
  font-size: 1.1rem;
  font-weight: lighter;
  color: whitesmoke;
}

.sign-in-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.avatar-image {
  height: 90%;
  border-radius: 100%;
  cursor: pointer;
}

#google-signin-button {
  transform: rotateX(-90deg) translateY(-3px) translateZ(-20px) scale(0.8);
  margin-right: -20px;
}

/* navbar end */
.content-wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* MENU STYLES BEGIN (including settings menu) */
.menu-content {
  width: 100%;
  margin: 0px auto;
}

.menu-content .button-group button:last-of-type {
  margin-bottom: 50px;
}

.title {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%) rotate(-15deg);
  font-family: "Pacifico", cursive;
  font-size: 70px;
  color: whitesmoke;
  cursor: default;
}

.title::selection {
  background-color: transparent;
}

.circles {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: -3;
}

.big-background-logo-container .title {
  top: 100px;
  font-size: 70px;
}

.big-background-logo-container .circles {
  top: -70px;
  width: 500px;
}

.ribbon {
  display: block;
  width: 300px;
  margin: 200px auto 0 auto;
}

.overlay {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s opacity;
}

.option-container {
  max-height: 100%;
  width: 100%;
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.option-container::-webkit-scrollbar {
  width: 0 !important;
}

.option-item {
  box-sizing: border-box;
  color: whitesmoke;
  background: #F69085;
  border: 1px solid whitesmoke;
  border-radius: 100px;
  margin: 10px;
  padding: 5px 15px;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  border-radius: 20px;
  transition: 0.15s;
}

.option-item:hover {
  cursor: pointer;
  background-color: #FA6752;
}

.option-item:active {
  background-color: #F69085;
}

.option-item.loading-item {
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-color: #F69085;
  background-size: 80px 80px;
  animation: loading 1.5s linear infinite;
}

@keyframes loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 80px 0;
  }
}

.vertical {
  flex-direction: column;
}

/*end*/
/******************* GAMEPLAY SCREEN STYLES *******************/
.quit-option-container {
  color: white;
  width: 90%;
}

.quit-option-container p {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.quit-option-container .button-box {
  display: flex;
  justify-content: center;
}

.quit-option-container .button-box button {
  display: block;
  width: 100px;
  height: 50px;
  margin: 10px;
  border: 1px solid whitesmoke;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
}

.quit-option-container .button-box button:first-of-type {
  background-color: #FF4321;
}

.quit-option-container .button-box button:last-of-type {
  background-color: lightgreen;
}

.game-content {
  width: 100%;
  max-width: 750px;
  margin: 0px auto;
  color: whitesmoke;
  position: relative;
}

.background-container {
  /* background circle image sits in here */
  opacity: 0.5;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  z-index: -2;
  width: 400px;
  height: 400px;
}

.background-container .title {
  top: 90px;
  font-size: 100px;
}

.question-container {
  margin: 100px 0 20px 0;
}

.question {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
}

.answers-container {
  position: relative;
  width: 100%;
}

.answer-group-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  min-height: 50%;
}

.answer-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  min-height: 8vh;
  background-color: #FA8072;
  border: 3px solid #FA8072;
  border-radius: 4px;
  transition: 0.25s border-color, 0.25s background-color;
  box-sizing: border-box;
}

.answer-box:hover {
  cursor: pointer;
  background-color: #F56E5C;
  border-color: #F56E5C;
}

.answer-box:after {
  border: 1px solid #fff;
  border-radius: 4px;
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}

.truefalse .answer-group-container {
  justify-content: space-around;
  width: 90%;
  height: 35vh;
}

.truefalse .answer-group-container .answer-box {
  width: 45%;
}

.question-tracker {
  margin-top: 10px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 2px;
}

/******************* GAME-END SCREEN END *******************/
.game-end-screen-content {
  width: 100%;
  margin: 0px auto;
  position: absolute;
  top: 80px;
}

.ribbon-container {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  width: 90%;
  max-width: 600px;
  opacity: 0;
  transform: translateY(50px) scale(1.2);
  transition: 1.5s all;
}

.ribbon-container .st13 {
  fill: #DBC53E;
}

.ribbon-container .st14 {
  fill: #ECDA49;
}

.ribbon-container .st15 {
  fill: #C9AD2E;
}

.ribbon-container .star {
  fill: #EF7667;
  transition: fill 1s;
}

.result-container {
  text-align: center;
  color: whitesmoke;
  font-family: "Caveat", cursive;
  margin-top: -20px;
}

.result-container .result-info {
  font-size: 1.5rem;
  transiton: opacity 1s;
  opacity: 1;
}

.result-container .message {
  font-size: 2rem;
}

/* GAME-END STYLES END HERE */
@keyframes loading-bar {
  0% {
    transform: translateX(-102%);
  }
  45% {
    transform: translateX(0);
  }
  55% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(102%);
  }
  100% {
    transform: translateX(102%);
  }
}

.footer {
  line-height: 2rem;
  text-align: center;
  background-color: #EF7667;
  color: whitesmoke;
  bottom: 0;
  position: relative;
}

.button {
  display: block;
  margin: 0px auto;
  margin-top: 20px;
  padding: 0 20px;
  width: 200px;
  min-width: 200px;
  min-height: 40px;
  font-size: 25px;
  font-family: "Caveat", cursive;
  background-color: #F69085;
  color: whitesmoke;
  outline: none;
  border: 1px solid whitesmoke;
  border-radius: 20px;
  transition: 0.15s, border-color 0.5s, opacity 0.5s;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.button:active {
  background-color: #F69085;
}

.button:last-of-type {
  margin-bottom: 50px;
}

.fully-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.disabled {
  background-color: grey !important;
  color: black;
}

.disabled:hover {
  cursor: not-allowed;
}

#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}

#customBtn:hover {
  cursor: pointer;
}

span.label {
  font-family: serif;
  font-weight: normal;
}

span.icon {
  background: url("../assets/g-logo.png") transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}

/* Larger than mobile */
@media (min-width: 400px) {
  .answer-group-container {
    flex-wrap: nowrap;
  }
  .option-container {
    margin: 0 auto;
    width: 90%;
  }
  .answer-box {
    min-height: 20vh;
  }
}

/* Larger than phablet */
/* Larger than tablet */
/* Larger than desktop */
